-- Example 0
WRGWWRGW
2

3
-- Example 1
RRGG
1

0
-- Example 2
BBBB
5

1
-- Example 3
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
50

265470435
-- Example 4
WRWRGWWGWWWRWBWRWGWWRWBWWRGWBWGRGWWGWGRWGRWBRWBW
7

7400348
